
<div class="top-bar clearfix" style="padding:50px 20px; background:white">
	<h3 style="text-align:center">Facebook People</h3>
	<p class="intro">Gossip is much more fun when have your friends around.</p>
	<div class="row">
		<div class="span5">
			<h3 style="padding-bottom:10px;border-bottom: 3px double rgba(34,25,25,0.1);"> Invite Friends </h3>
			<input id="search-friends" type="text" class="search" placeholder="Search for people" />
			<ul id="invite_list" class="InvitesList">
				<li class="friend" data-bind="id">
		        	<a class="btn-invite btnx btnx-blue">Invite</a>
		  			<img data-bind="profilePicture" class="InvitesProfileImage" src="" alt="">
		    		<div class="individual">
		        	<div class="searchable" data-bind="name"></div>
				    </div>
				</li>
			</ul>
		</div>

		<div class="span4">
			<h3> Friends on The Gossip </h3>
			<ul id="follow_list" class="InvitesList">
				<li class="friend" data-bind="id">
					<!--a class="btnx btnx-blue follow-user-btn" >Follow</a-->
					<img data-bind="profilePicture" class="InvitesProfileImage" src="" alt="">
					<div class="individual">
						<div data-bind="name" class="name"></div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<script type="text/javascript">

		var friendDataFollow = <%= @friends_follow.to_json.html_safe %>;
		var friendDataInvite = <%= @friends_invite.to_json.html_safe %>;

		var directives = {
		  profilePicture: {
		    src: function(params) {
		      return this.picture.data.url;
		    },
		    alt: function() {
		    	return this.name;
		    }
		  }, 
		  id: {
		  	data_fb_id: function(params) {
		  		return this.id;
		  	}, 
		  	html: function(params) {
		  		if (this.already_following === undefined){
		  			return '';
		  		} else if (this.already_following) {
		  			return '<a class="btnx btnx-blue follow-user-btn disabled" >Following</a>';
		  		} else {
		  			return '<a class="btnx btnx-blue follow-user-btn" >Follow</a>';
		  		}

		  	}
		  }
		};
		$('#invite_list').render(friendDataInvite, directives);
		$('#follow_list').render(friendDataFollow, directives);

		//Invite Button click
		$(document).on('click', 'a.btn-invite', function () {
			var self = this;
			var id = $(self).parent().attr('data_fb_id');
			sendInvites(id, self);
		})


	function sendInvites(fb_ids, selector) {
	  var link_url = '<%= "http://pinterest.com/invited/?code=#{@invite.token}" %>';// '<%= "#{SITE_URL}invited/#{@invite.token}" %>';
	  FB.ui({
	      method: "send",
	      to: fb_ids,
	      name: "Da cu papagalu!",
	      description: "Intra si tu pe Gossip.it si afla cele mai noi gossip-uri",
	      //picture: '<%= "#{SITE_URL}assets/fb_invite.png" %>',
	      link: link_url
	  }, function(response) {
	      if (!response){
	          //selector.selectionCancelled();
	          return;
	      }
	      $(selector).addClass("disabled").text("Invited");

	      // $.post("/invite/new/", {
	      //     fb_ids: fb_ids
	      // }, function(data) {
	      //     if (data.status == "success") {
	      //         //selector.afterSelection();
	      //         $(selector).addClass("disabled").text("Invited");
	      //     } else {
	      //         alert(data.message);
	      //     }
	      // }, "json");
	  });
	};


	function listFilter(input, list){
		$(input).change(function() {
			var filter = $(this).val();
			if (filter.replace(/\s/g,"") == ""){
				$(list).closest("li").show();
			} else {
				$(list).find("div.searchable:not(:Contains(" + filter + "))").closest("li").hide();
				$(list).find("div.searchable:Contains(" + filter + ")").closest("li").show();
			}
		}).keyup(function() {
			$(this).change();
		});
	}


	$(document).ready(function() {
		listFilter( $('#search-friends'), $('#invite_list .friend') );
	});

</script>