
<div style="width:322px;margin:0 auto;margin-top:75px;">
  <div class="top-bar clearfix" style="width:292px;margin-top:60px;margin-bottom:5px">
    <h3 style="text-align:center;padding-bottom:10px;margin-bottom:30px;border-bottom: 3px double rgba(34,25,25,0.1);">One more step</h3>

    <center><h4 style="margin-bottom:25px"> Choose an anonymous nickname </h4> </center>

<% if INVITE_ONLY %>
  <% if resource.invitation_token.blank? %>
    <p> You need an invitation to sign up. You can <a href="/welcome">request an invite</a> </p>
  <% end %>
<% end %>  

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :builder => BootstrapFormBuilder) do |f| %>
                

<% if resource.retry_count > 0 %>

    <%= devise_error_messages! %>

<% end %>

<input id="user_invitation_token" name="user[invitation_token]" type="hidden" value="<%= resource.invitation_token %>" /> 

  <div>
    <div class="control-group clearfix">
      <div class="input">
        <input id="user_nickname" data-ajaxverify="/verify/nickname/" data-required data-minlength="4" placeholder="anonymus nickname" name="user[nickname]" size="30" type="text" value="<%= resource.nickname %>" style="width:278px;margin-top:0px" />
         <span style="display: none;" class="help-inline"></span>
      </div>
    </div>
  </div>

  <div>
    <div class="control-group clearfix">
      <div class="input">
        <input id="user_password" data-required data-minlength="6" placeholder="password" name="user[password]" size="30" type="password" value="<%= resource.password %>" style="width:278px;margin-top:0px" />
        <span style="display: none;" class="help-inline"></span>
      </div>
    </div>
  </div>

  <div>
    <div class="control-group clearfix">
      <div class="input">
        <input id="user_password_confirmation" data-match="user_password" placeholder="password confirmation" name="user[password_confirmation]" size="30" type="password" value="<%= resource.password_confirmation %>" style="width:278px;margin-top:0px" />
        <span style="display: none;" class="help-inline"></span> 
      </div>
    </div>
  </div>

    <!--div class="field">
    <div class="field_with_errors"><input id="user_password" name="user[password]" placeholder="password" size="30" style="width:278px;margin-bottom:20px" type="password" /></div></div>

    <div class="field">
    <input id="user_password_confirmation" name="user[password_confirmation]" placeholder="confirm password" size="30" style="width:278px;margin-bottom:10px" type="password" /></div-->


    <div><input name="user[terms]" type="hidden" value="0" /><input id="user_terms" name="user[terms]" style="float:left" type="checkbox" value="1" /><p style="font-size:12px"> &nbsp; &nbsp;I agree with the <a href="/terms">Terms and conditions</a> </p></div>

  <div><input id="form_submit"class="btn btn-success pull-right" name="commit"  type="submit" value="Sign up" /></div>



<% end %>

</div>
</div>

<script type="text/javascript">

  $(document).ready(function() {

    var isError = false;
    var nickTaken = true;
    var posted = false;


    $('#form_submit').click(function () {
      //User is using Gossip
      postActivityGossipUse("http://letsgossip.it/fbstart01.html");

      <% if INVITE_ONLY %>
        <% if resource.invitation_token.blank? %>
          return false;
        <% end %>
      <% end %>

      isError = false
    
      $inputs = $('input');
      $.each($inputs, function (i, o) {
        if ( validateInput(o) == false ){
          isError = true;
        }
      });

      if (isError) {
        showError("Please correct the errors");
        return false;
      }

      if ( ! $('#user_terms').is(':checked') ) {
        showError("You must accept the Terms and Conditions!");
        return false;
      }

    });

    $("input").bind("change", function() {
      validateInput(this);
    });
  });
  
  function refreshErrorMessage($container, $errorMessage, errorMessage){
    if (errorMessage) {
      $errorMessage.text(errorMessage).slideDown();
      $container.addClass('error');
      isError = true;
      return false;
    } else {
      $errorMessage.slideUp();
      $container.removeClass('error');
      return true;
      //isError = false;
    }
  }

  function validateInput(input){ //return true if is valid
    var $self = $(input);
    var value = $self.val();
    var placeholder = $self.attr('placeholder');
    var $errorMessage = $self.siblings('.help-inline');
    var $container = $self.closest('.control-group');
    var errorMessage;

    if ( !errorMessage &&
          $self.data('required') == "" &&
          value.length == 0 ) {

      errorMessage = placeholder + " is required"
    }

    if ( !errorMessage && 
          $self.data('minlength') && 
          value.length < $self.data('minlength') ){

      errorMessage = placeholder + " is to short";
    }

    if ( !errorMessage &&
          $self.data('match') ){

      var $other = $( '#' + $self.data('match') )
      if (value != $other.val()) {
        errorMessage = "passwords don't match";
      }
    }

    if (!errorMessage &&
        $self.data('ajaxverify') ) {
      var url = $self.data('ajaxverify');
      var jqxhr = $.post(url, { 'nickname': value }, 
        function ( data ) {
          if ( !data.valid ){
            errorMessage = "sorry, that nickname is already taken";
            return refreshErrorMessage($container, $errorMessage, errorMessage);        
          }
        }, "json")
        .error(function() {
          //showError("Something went wrong!" + "\nResponse: " + jqxhr.responseText + "\nStatus: " + jqxhr.statusText);
        });
    }

    return refreshErrorMessage($container, $errorMessage, errorMessage);

  }

</script>

