<div style="width:292px;margin:0 auto;margin-top:75px;">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>
  email: <%= resource.email %>

  </div>

  <%= f.hidden_field :invitation_token %>

  <div>
  <%= f.text_field :nickname, :style => "width:278px;margin-bottom:20px", :placeholder => "anonymous nickname" %></div>

  <% if f.object.password_required? %>
    <div class="field">
    <%= f.password_field :password,  :style => "width:278px;margin-bottom:20px", :placeholder => "password" %></div>

    <div class="field">
    <%= f.password_field :password_confirmation, :style => "width:278px;margin-bottom:10px", :placeholder => "confirm password" %></div>
  <% end %>

  <div><%= f.submit "Sign up", :class => "btn btn-success pull-right", :style => "margin-bottom:30px;" %></div>
<% end %>

</div>
