<div class="top-bar user-profile clearfix" >
	<div class="right-menu">
		<%if current_user.id == user.id %>
			<a href="/users/edit" class="btnx btnx-blue">Edit Profile</a>
		 <%else%>
			<%if current_user.already_follows?(user.id) %>
				<a class="follow-user-btn btnx btnx-green" data-id="<%= user.id %>">Unfollow</a>
			<% else %>
				<a class="follow-user-btn btnx btnx-green" data-id="<%= user.id %>">Follow</a>
			<%end%>
		<% end %>
	</div>
	<a class="profile-image"
		
			<%=  "style=\"background-image: url('http://graph.facebook.com/#{current_user.uid}/picture?type=large');\"".html_safe %>  >
				
	</a>
	<h2 class="user-name"> <%if current_user.id == user.id %><span> Hi, </span><%end%> <%= user.name %></h2>
	<div class="cleafix">
		<ul class="stats">
			<li class="stat">
			<div class="value"><%= user.gossip_count %></div>
			<div class="descriptor">Gossips</div>
			</li>
			<li class="stat">
			<div class="value"><%= user.circle_count %></div>
			<div class="descriptor">Circles</div>
			</li>
			<li class="stat">
			<div class="value"><%= user.following_count %></div>
			<div class="descriptor">Following</div>
			</li>
			<li class="stat">
			<div id="follower-count" class="value"><%= user.follower_count %></div>
			<div class="descriptor">Followers</div>
			</li>
		
		</ul>
	</div>
</div>