<div class="gossip-post" data-id="<%= gossip.id %>"
	<% if defined? hidden %> 
		style="display:none"
	<% end %>
>
		<span class="avatar"> </span>
			<div class="gossip">
				<div class="text clearfix">
					<img style="position:absolute; margin-top:0px;margin-left:-22px;" src="/assets/arrow.png"/>
					<div style="display:inline-block;width:500px;">
						 <%= timeago gossip.created_at  %>
						<img style="float:left;width:21px;height:auto" src="/assets/quote-open.png"/>
						<p class="pull-left" style="margin-left:10px;margin-bottom:0;font-weight:500"><%= gossip.private? ? gossip.user.nickname : link_to(gossip.user.name, "/user/index")  %></p>
					</div>				
					<p class="gossip-content"><%= gossip.content %></p>
					<img style="float:right;width:21px;height:auto" src="/assets/quote-close.png"/>

					<div class= "meta clearfix">
						<div class="gossip-like-btn" data-count="<%= gossip.like_count %>">
							<%if current_user.likes.find_by_gossip_id(gossip.id) %>
								<a class="xxx like-it">Unlike</a>
							<% else %>
								<a class="xxx like-it">Like</a>
							<%end%>
							<span class="hearty">&nbsp; </span>
							<p class="value likes" style="margin-top:4px"> <%= gossip.like_count %> </p>
						</div>
						<div class="pull-right">
							<div class="gossip-vote-btn xxx" data-value="true" data-count="<%= gossip.true_count %>" style="float:left;" >
								<a class="true">True</a>
								<p class="value" style="margin-right:10px;"> <%= gossip.true_count %></p>
							</div>
							<div class="gossip-vote-btn xxx" data-value="false" data-count="<%= gossip.false_count %>" style=" float:left;margin-left:10px;">
								<a class="fake">&nbsp;</a>
								<p class="value"><%= gossip.false_count %></p>
							</div>
						</div>
					</div>
				</div>
				<ol class="comments">
					<li class="comment clearfix" style="display:none">
					 <% gossip.comments.each do |comment| %>
					 	<%= render partial: "comment", locals: { comment: comment }, formats: [:html] %>
					 <% end %>
				</ol>
				<form id="post_comment_form">
					<div class="your-comment">
						<span class="avatar-mini">
							<img  src="http://profile.ak.fbcdn.net/hprofile-ak-snc6/260896_708576256_1093295786_t.jpg">
						</span>
						<textarea  type="textarea" id="comment_content" name="comment[content]" rows="1" style="resize:none;margin-bottom:0px;border-radius:0;height:22px;max-height:90px;width:250px;max-width:250px;" ></textarea>
						<a class="btnx btnx-blue post_comment_button pull-right" onclick="post_comment();"> Post </a>
						<!-- <div class="btn-toolbar pull-right" style="margin:0 10px 0 0">
			                <div class="btn-group toggle-radio">
		                    <a class="btn" data-value="1" href="#"><i class="icon-lock"></i></a>
		                    <a class="btn" data-value="0" href="#"><i class="icon-user"></i></a>
		                    <input id="comment_gossip_id" name="comment[gossip_id]" type="hidden" value="<%= gossip.id %>" />
		                  </div>
			      		</div> -->
			      		<span class="private"> </span>
					</div>
				</form>
			</div>
</div>