<div class="gossip-post clearfix" data-id="<%= gossip.id %>"
	<% if defined? hidden %> 
		style="display:none"
	<% end %>
>
<div class="clearfix">
			<span class="avatar" 
			<%= gossip.private? ? "" : "style=\"background-image: url('http://graph.facebook.com/#{gossip.user.uid}/picture?type=normal');\"".html_safe %>  >
			</span>
			<p class="hidden-desktop gossiper-m"><%= gossip.private? ? gossip.user.nickname : link_to(gossip.user.name, "/users/"<<gossip.user.id.to_s())  %> </p>
			<p class="hidden-desktop gossiper-m" style="float:none"> in <a href="circles/<%=gossip.circle.id%>"><%= gossip.circle.name %></a></p>
			<div class="gossip">
				<div class="text clearfix">
					<img src="/assets/img_trans.gif" class="visible-desktop arrow sprite sprite-arrow">
					<a href="/gossips/<%= gossip.id %>"><%= timeago gossip.created_at  %></a>
					<img src="/assets/img_trans.gif"  class="pull-left sprite sprite-quote-open">
					<p class="hidden-desktop" style="margin:0px;line-height:10px">&nbsp;</p><!--impinge textu de gossip -->
					<p class="visible-desktop gossiper"><%= gossip.private? ? gossip.user.nickname : link_to(gossip.user.name, "/users/"<<gossip.user.id.to_s())  %><span> in </span>  <%= link_to(gossip.circle.name, "/circles/"<<gossip.circle.id.to_s()) %> </p>

					<% if @current_controller=="gossips" && @current_action=="show"%>
						<p class="gossip-content">
							<%= gossip.content %>
						</p>
					<% else %>	
						<a class="link-to-gossip" href="/gossips/<%= gossip.id %>">
							<p class="gossip-content">
								<%= gossip.content %>
							</p>
						</a>
					<% end %>

				<img src="/assets/img_trans.gif"  class="pull-right sprite sprite-quote-close">

					<div class= "meta clearfix">
						<div class="gossip-like-btn" data-count="<%= gossip.like_count %>">
							<% if user_signed_in? %>
								<%if current_user.already_likes?(gossip.id) %>
									<a class="xxx like-it">Unlike</a>
								<% else %>
									<a class="xxx like-it">Like</a>
								<%end%>
							<% else %>
								<a href="/users/auth/facebook" class="xxx">Like</a>
							<% end %>
							<span class="sprite sprite-hearty hearty">&nbsp; </span>
							<p class="value likes" style="margin-top:4px"> <%= gossip.like_count %> </p>
						</div>
						<div class="pull-right">
						<% if user_signed_in? %>

							<% v =  current_user.voted(gossip.id) %>
							<div class="gossip-vote-btn xxx <%= add_vote_class(v, true) %>" data-value="true" data-count="<%= gossip.true_count %>" style="float:left;" >
								<a class="sprite sprite-true true"><i class="sprite sprite-true"></i> True </a>
								<p class="value" style="margin-right:10px;"> <%= gossip.true_count %></p> 
							</div>
							<div class="gossip-vote-btn xxx <%= add_vote_class(v, false) %>" data-value="false" data-count="<%= gossip.false_count %>" style=" float:left;margin-left:10px;">
								<a class="sprite sprite-fake fake">&nbsp;</a>
								<p class="value"><%= gossip.false_count %></p>
							</div>

							<% else %>
								<div class="xxx" style="float:left;">
									<a class="sprite sprite-true true"><i class="sprite sprite-true"></i> True </a>
									<p class="value" style="margin-right:10px;"> <%= gossip.true_count %></p> 
								</div>
								<div class="xxx" style=" float:left;margin-left:10px;">
									<a class="sprite sprite-fake fake">&nbsp;</a>
									<p class="value"><%= gossip.false_count %></p>
								</div>
							<% end %>
						</div>
					</div>
				</div>

				 <ol class="comments">

						<li class="comment view-all"><a href="/gossips/<%= gossip.id %>">
							<%=  gossip.comments_count > COMMENTS_PER_GOSSIP ? "view all " : "" %><%= pluralize(gossip.comments_count, 'comment')  %></a></li>				 		
				 		<li class="comment clearfix hidden" ></li>

				 		<% if ( defined? no_comments ) and ( no_comments == true ) %>
				 			<!-- no comments -->
				 		<% else %>

				 			<% if ( defined? last_comments ) and ( last_comments == true ) %>

				 				<!--% # Only last comments  %-->
								<% gossip.last_comments.each do |comment| %>
									<%= render partial: "comment", locals: { comment: comment }, formats: [:html] %>
								<% end %>	

				 			<% else %>

				 				<!--% # All comments %-->
							  <% gossip.comments.each do |comment| %>
									<%= render partial: "comment", locals: { comment: comment }, formats: [:html] %>
							  <% end %>		

				 			<% end %>
				 		<% end %>


						<form id="post_comment_form">
							<li class="your-comment clearfix">
								<span class="avatar-mini">
									<% if user_signed_in? %>
										<span style="background-image: url('http://graph.facebook.com/<%= current_user.uid %>/picture?type=small');">
										</span>
									<% else %>
										<span style="background-image: url('http://graph.facebook.com/me/picture?type=small');">
										</span>
									<% end %>
								</span>
								<textarea  type="textarea" id="comment_content" name="comment[content]" rows="1"> </textarea>
								<a class="btnx btnx-blue post_comment_button pull-right" > Post </a>
								<a class="public toggle-privacy"> </a>
								<input type="hidden" id="comment_private" name="comment[private]" value="0">
					      <input id="comment_gossip_id" name="comment[gossip_id]" type="hidden" value="<%= gossip.id %>" />
							</li>
						</form>
				</ol>				
			</div> <!-- gossip -->
</div>
</div>
