<div class="gossip-post">
		<span class="avatar"> </span>
			<div class="gossip">
				<div class="text clearfix">
					<img style="position:absolute; margin-top:0px;margin-left:-22px;" src="/assets/arrow.png"/>
					<div style="display:inline-block;width:510px;">
						<p class="pull-right" style="color:#757575;margin-top:-5px;margin-bottom:0"> 1h ago</p>
						<img style="float:left;width:21px;height:auto" src="/assets/quote-open.png"/>
						<p class="pull-left" style="margin-left:10px;margin-bottom:0;font-weight:500"> cristache007</p>
					</div>
					
					
					<p style="display:inline-block;text-indent:15px;margin-left:15px;margin-bottom:0px;margin-top:2px"><%= gossip.content %></p>
					<img style="float:right;width:21px;height:auto" src="/assets/quote-close.png"/>
				</div>
				<ol class="comments">
				     <%= render partial: "comment", formats: [:html] %>
					 <%= render partial: "comment", formats: [:html] %>
				</ol>
				<div class="your-comment">
					<span class="avatar-mini">
						<img  src="http://profile.ak.fbcdn.net/hprofile-ak-snc6/260896_708576256_1093295786_t.jpg">
					</span>
					<input type="text" style="margin:0 5px;border-radius:0;height:22px;" />
					<div class="btn btn-primary pull-right" style="background:#008fd0;"> Post </div>
					 <div class="btn-toolbar pull-right" style="margin:0 10px 0 0">
		                <div class="btn-group">
		                  <a class="btn" href="#"><i class="icon-lock"></i></a>
		                  <a class="btn active" href="#"><i class="icon-user"></i></a>
		                </div>
		             </div>
				</div>
			</div>

		<div class="side">
			<div class="" style="border-bottom:1px dashed #aaa; margin-bottom:10px">
				<a class="like">Like</a>
				<p style="margin-bottom:5px;font-size:12px;"> <%= gossip.like_count %>  people</p>
			</div>
			<div class="" style="border-bottom:1px dashed #aaa; margin-bottom:10px">
				<a class="true" style="color:#008FD0"> True </a>
				<p style="margin-bottom:5px;font-size:12px;"> <%= gossip.true_count %> people</p>
			</div>
			<div class="" style="margin-bottom:10px;border-bottom:1px dotted #aaa;">
				<a class="fake" style="color:#f4512f"> Fake </a>
				<p style="margin-bottom:5px;font-size:12px;"> <%= gossip.false_count %> </p>
			</div>
		</div>
</div>