<% if like = current_user.likes.find_by_gossip_id(gossip.id) %>
	<a class="like">Unlike</a>
<% else %>
	<a class="like">Like</a>
<% end %>

<% if false %>
<% if like = current_user.likes.find_by_gossip_id(gossip.id) %>
  <%= form_for like, :html => { :method => :delete },
  									 :url => "asdas",
                     :remote => true do |f| %>
    <%= f.submit "Unlike" %>
  <% end %>
<% else %>
  <%= form_for current_user.likes.build(:gossip_id => gossip.id),
  									 :url => "asdas",
  									 :remote => true do |f| %>
    <%= f.hidden_field :gossip_id %>
    <%= f.hidden_field :user_id %>
    <%= f.submit "Like" %>
    <a class="like">Like</a>
  <% end %>
<% end %>
<% end %>