<style>
  .nav-collapse .nav img {margin-top:-3px}
</style>
<!-- fix to align sprites in menu -->

<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a onclick="toggleMenu()" class="brand" href="/"><img src="/assets/logo.png"></a>
        <div class="nav-collapse">
          <ul class="nav hidden-desktop">
            <li><a href="<%= gossips_path %>" ><img src="/assets/img_trans.gif" class="sprite sprite-feed"> Feed</a></li>
            <li><a href="<%= circles_path %>" ><img src="/assets/img_trans.gif" class="sprite sprite-circles"> Circles</a></li>
            <li><a href="#"><img src="/assets/img_trans.gif" class="sprite sprite-pin"> Cities</a></li>
            <li><a href="#"><img src="/assets/img_trans.gif" class="sprite sprite-people"> People</a></li>
            <li><a href="/circles/new" ><img src="/assets/img_trans.gif" class="sprite sprite-add"> New Circle</a></li>
            <li><a href="/gossips/new" ><img src="/assets/img_trans.gif" class="sprite sprite-add"> New Gossip</a></li>
            <% if user_signed_in? %>
            <li><a href="/users/<%=current_user.id%>"> <img src="/assets/img_trans.gif" class="sprite sprite-settings"> My Account</a></li>
            <li><a href="/users/logout" ><img src="/assets/img_trans.gif" class="sprite sprite-logout"> Logout</a></li>
            <% end %>
          </ul>


          <ul class="nav pull-right">
            <% if user_signed_in? %>
              <li class="visible-desktop dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-user"></i> You <b class="caret"></b></a>
                <ul class="dropdown-menu" style="margin-bottom:10px">
                  <li class="nav-header"><%=current_user.name%></li>
                  <li>  <%= link_to('Your Profile', "/users/"<<current_user.id.to_s())  %></li>
                  <li><a href="/invites">Invite People</a></li>
                   <li class="divider"></li>
                  <li><a href="/terms">Terms</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <li class="divider"></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :get %></li>
                </ul>
              </li>
              <li class="divider-vertical"></li>
              <li class="visible-desktop btnx btnx-blue-x toggle-slide" data-toggleid="post_gossip_form" style="border-color: #111;-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;margin-top:5px;padding:5px 4px 6px 8px;">
              <img style="margin-top:0px" src="/assets/img_trans.gif" class="sprite sprite-new-gossip"></li>     


            <% else %>
              <li><%= link_to "Login", new_user_session_path %></li>
              <!-- li>< % = link_to Login with Fb, user_omniauth_authorize_path(: facebook)  ></li -->
            <% end %>      
        </ul>
        </div>
      </div>
    </div>
  </div>