<%= form_for(@circle) do |f| %>
  <% if @circle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@circle.errors.count, "error") %> prohibited this circle from being saved:</h2>

      <ul>
      <% @circle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :style => "width:345px;margin-bottom:20px", :placeholder => "Circle Name" %>
  </div>
  <div class="field">
    <%= f.label  "location" %>
    <%= f.text_field :city_name, :style => "width:345px;margin-bottom:20px", :placeholder => "City" %>

    <%= f.hidden_field :city_lat %>
    <%= f.hidden_field :city_long %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :rows => "3", :style=> "width:345px;max-width:345px;max-height:60px" %>
  </div>

  <div class="field">
    <%= f.label :tag_list, "Tags (separated by commas)" %>
    <%= f.text_field :tag_list %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-success pull-right", :style => "margin-top:20px; margin-right:0px" %>
  </div>

  <div id="map_canvas"></div>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

  <script>
    var mapOptions = {
          center: new google.maps.LatLng(-33.8688, 151.2195),
          zoom: 13,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

    var map2 = new google.maps.Map(document.getElementById('map_canvas'),
          mapOptions);

    var input = document.getElementById('circle_city_name');
    var autocomplete = new google.maps.places.Autocomplete(input);
    
    var city_name;

    autocomplete.bindTo('bounds', map2);

    google.maps.event.addListener(autocomplete, 'place_changed', function() {
        var place = autocomplete.getPlace();
        if (!place.geometry) {
          // Inform the user that the place was not found and return.
          $('#geocode-error').text('This address cannot be found.').fadeIn('fast');
          return;
        }

        city_name = place.address_components[0].long_name;
        $('#circle_city_long').val(place.geometry.location.$a);
        $('#circle_city_lat').val(place.geometry.location.Za);
      });

    $('#new_circle').submit(function() {
      $('#circle_city_name').val(city_name);
    });
  </script>


<% end %>


