<ul class="nav nav-tabs circles-tabs">
  <li data-id="my_circles" class="active">
    <a href="#">My Circles</a>
  </li>
  <li data-id="search_circles_form" class="">
    <a href="#">City</a>
  </li>
  <li data-id="hot_circles" class="">
    <a href="#">Hot Circles</a>
  </li>
  </li>
</ul>

<div id="map_canvas"></div>

<div id="my_circles" class="clearfix top-bar nav-tab-page" style="margin-top:0;border-radius:0 5px 5px 5px">
    <a href="<%= new_circle_path %>" class="pull-right btnx btnx-green"> <i class="icon-plus"></i> New Circle</a>
        <h3 style="margin-bottom:0;margin-top:4px">Circles you joined</h3>
</div>

<form id="search_circles_form" class="hidden nav-tab-page">
  <div class="clearfix top-bar" style="margin-top:0;border-radius:0 5px 5px 5px">
      <a href="<%= new_circle_path %>" class="pull-right btnx btnx-green"> <i class="icon-plus"></i> New</a>
          <input type="text" id="search_city_box" placeholder="Search for a city" style="margin-right:10px;float:left;height:22px;width:278px;margin-bottom:0px" >
          <a class="btnx btnx-blue pull-left" onclick="search_circle();">Search</a>
  </div>
</form>

<div id="hot_circles" class="clearfix top-bar hidden nav-tab-page" style="margin-top:0;border-radius:0 5px 5px 5px">
    <a href="<%= new_circle_path %>" class="pull-right btnx btnx-green"> <i class="icon-plus"></i> New Circle</a>
        <h3 style="margin-top:4px">Popular Tags</h3>
        <a class="tag" href="#">topic</a>
        <a class="tag" href="#">high school</a>
        <a class="tag" href="#">college</a>
        <a class="tag" href="#">night life</a>
        <a class="tag" href="#">fun</a>
        <a class="tag" href="#">high school</a>
        <a class="tag" href="#">college</a>
        <a class="tag" href="#">night life</a>
        <a class="tag" href="#">high school</a>
        <a class="tag" href="#">college</a>
        <a class="tag" href="#">night life</a>
        <a class="tag" href="#">high school</a>
        <a class="tag" href="#">college</a>
        <a class="tag" href="#">night life</a>

</div>

<div id="initial_content">
  <% @circles.each do |circle| %>
      <%= render partial: "circle_header", locals: { circle: circle }, formats: [:html] %>
  <% end %>
</div>

<div id="circles_container">
  <%= render partial: "circle_header", locals: { circle: Circle.new, hidden: 1 }, formats: [:html] %>
</div>




