<ul class="nav nav-tabs circles-tabs">
  <li data-id="nearby_circles" data-div="#initial_content" data-page="1" href="#nearby">
    <a href="#nearby">Nearby</a>
  </li>

  <li id="#my-circles" data-id="my_circles" data-div="#mycircles_container" class="">
    <a href="#my" onclick="my_circles();">My Circles</a>
  </li>

  <li data-id="search_circles_form" class="" data-div="#search_container" data-page="1" data-totalpages="2"> 
    <a href="#city">City</a>
  </li>

  <li id="hot-circles" data-id="hot_circles" class="">
    <a href="#hot">Hot Circles</a>
  </li>
</ul>

<div id="map_canvas"></div>
<div id="nearby_circles" class="clearfix nav-tab-page" style="margin-top:0;border-radius:0 5px 5px 5px">
    <a href="<%= new_circle_path %>" class="pull-right btnx btnx-green"> <i class="icon-plus"></i> New Circle</a>
        <h3 style="margin-bottom:0;margin-top:4px">Circles Nearby</h3>
        <div id="initial_content">
          <%= will_paginate @circles, :param_name => 'circle_page' %>
        <% @circles.each do |circle| %>
            <%= render partial: "circle_header", locals: { circle: circle }, formats: [:html] %>
        <% end %>
        <% if !@location_unknown.nil? && @location_unknown == true %>
          <!-- Cand nu ii vede locatie -->
           <p id="no-location" class="alert alert-error fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            We are unable to determine your location at this point. Search for your city in the City tab. 
           </p>
        <% end %>
        <% if !@no_circles.nil? && @no_circles == true %>
          <!-- Cand nu is cercuri in apropiere -->
           <p id="no-location" class="alert alert-error fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            There are no circles close to you. You can create one and Start Gossiping!
           </p>
        <% end %>
      </div>
</div>

<div id="my_circles" class="clearfix nav-tab-page" style="margin-top:0;border-radius:0 5px 5px 5px">
    <a href="<%= new_circle_path %>" class="pull-right btnx btnx-green"> <i class="icon-plus"></i> New Circle</a>
    <h3 style="margin-bottom:0;margin-top:4px">Circles you joined</h3>
    
    <div id="mycircles_container">
    </div>

      <!-- Cand nu esti in mici un cerc, la My circles -->
      <div id="no-circles-joined" class="top-bar" style="display:none">
        <h3 style="text-align:center">You have not joined any circle yet</h3>
        <p class="intro">The Gossip Feed shows the latest rumors only from circles you joined</p>
        <p class="intro">Join circles<a href="#"> nearby</a>, search by<a href="#"> city</a>, or view the hottest <a href="#">topics</a></p>
      </div>   

</div>

<form id="search_circles_form" class="nav-tab-page">
  <div class="clearfix " style="margin-top:0;border-radius:0 5px 5px 5px">
      <a href="<%= new_circle_path %>" class="hidden-phone hidden-tablet pull-right btnx btnx-green"> <i class="icon-plus"></i> New</a>
      
          <input type="text" id="search_city_box" placeholder="Search for a city" style="height:22px;"class="city-search">
          <a class="btnx btnx-blue pull-left" onclick="search_circle();">Search</a>
          <br /><br /><p id="error" style="display:none; margin:0px; color:red">Please type a city in the search box above.</p>
          <div id="search_container">
            <%= will_paginate @circles, :param_name => 'circle_search' %>
            <div id="circles_container">
            </div>
          </div>
          <!-- Cand nu este cerc in orasul tau, la search by city -->
          <div id="no-circles-city" class="top-bar clearfix" style="display:none">
            <h3 id="search-city-name" style="text-align:center">No circles in NUMELE ORASULUI</h3>
            <p class="intro">Be the first to create a circle in your city and invite your friends.</p>
            <p style="text-align:center"><a href="/circles/new" class="btnx btnx-green"> <i class="icon-plus"></i> Create new Circle</a></p>
          </div>
  </div>
</form>

<div id="hot_circles" class="clearfix top-bar nav-tab-page" style="margin-top:0;border-radius:0 5px 5px 5px">
    <a href="<%= new_circle_path %>" class="pull-right btnx btnx-green"> <i class="icon-plus"></i> New Circle</a>
        <h3 style="margin-top:4px">Popular Tags</h3>
        <% tag_cloud Circle.tag_counts, %w[tag] do |tag_itself, tag| %>
          <%= link_to tag_itself.name, tag_path(tag_itself.name), class: tag %>
        <% end %>


</div>

<script type="text/javascript">
  $('ul.circles-tabs').tabs(
      '.nav-tab-page', {
      history: true,
      current: 'active',
      tabs: 'a'
    }
  );

  var paginationInit = function(){
    if ($('.pagination').length) {
      $('.pagination').hide();
      $(window).scroll(function() {
        var url;
        var pg ='<%= @circles.total_pages%>';
        url = $($('li.active').data('div')).find('a.next_page').attr('href');
        if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 50) {
          //$('.pagination').text("Fetching more products...");
          var page = $('li.active').data('page');
          page++;
          $('li.active').data('page',page);
          if (url == "/circles?circle_search=2")  //verifica generic nu pt 2 !!!
            url = "/circles/search?circle_search="+page+"&city[latitude]="+city_latitude+"&city[longitude]="+city_longitude;
          else
            url = "/circles?circle_page="+page;
          if (($('li.active > a').html() == "Nearby" && page <= pg) || ($('li.active > a').html() == "City" && page <= $('li.active').data('totalpages')) )
            $.get(url, function(data) {
              if ($('li.active > a').html() == "Nearby")
                $('#initial_content').append(data.html);
              else {
                $('#circles_container').append(data.html);
                $('li.active').data('totalpages',data.pg);
              }
            }, "json");
        }
      });
    }
  }

  $(document).ready(function() {
          paginationInit();
    });
</script>