<ul class="nav nav-tabs circles-tabs">
  <li data-id="my_circles" class="active">
    <a href="#">My Circles</a>
  </li>
  <li data-id="search_circles_form" class="">
    <a href="#">City</a>
  </li>
  <li data-id="hot_circles" class="">
    <a href="#">Hot Circles</a>
  </li>
  </li>
</ul>

<div id="map_canvas"></div>

<div id="my_circles" class="clearfix top-bar nav-tab-page" style="margin-top:0;border-radius:0 5px 5px 5px">
    <a href="<%= new_circle_path %>" class="pull-right btnx btnx-green"> <i class="icon-plus"></i> New Circle</a>
        <h3 style="margin-bottom:0;margin-top:4px">Circles you joined</h3>
</div>

<form id="search_circles_form" class="hidden nav-tab-page">
  <div class="clearfix top-bar" style="margin-top:0;border-radius:0 5px 5px 5px">
      <a href="<%= new_circle_path %>" class="hidden-phone hidden-tablet pull-right btnx btnx-green"> <i class="icon-plus"></i> New</a>
          <input type="text" id="search_city_box" placeholder="Search for a city" style="height:22px;"class="city-search">
          <a class="btnx btnx-blue pull-left" onclick="search_circle();">Search</a>
          <br /><br /><p id="error" style="display:none; margin:0px; color:red">Please type a city in the search box above.</p>
  </div>
</form>

<div id="hot_circles" class="clearfix top-bar hidden nav-tab-page" style="margin-top:0;border-radius:0 5px 5px 5px">
    <a href="<%= new_circle_path %>" class="pull-right btnx btnx-green"> <i class="icon-plus"></i> New Circle</a>
        <h3 style="margin-top:4px">Popular Tags</h3>
        <% tag_cloud Circle.tag_counts, %w[tag] do |tag_itself, tag| %>
          <%= link_to tag_itself.name, tag_path(tag_itself.name), class: tag %>
        <% end %>
</div>

<div id="initial_content">
  <% @circles.each do |circle| %>
      <%= render partial: "circle_header", locals: { circle: circle }, formats: [:html] %>
  <% end %>
</div>

<div id="circles_container">
  <%= render partial: "circle_header", locals: { circle: Circle.new, hidden: 1 }, formats: [:html] %>
</div>




