<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object#">
  <title>The Gossip</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="fb:app_id" content="354917017937937" /> 
  <meta property="og:type"   content="object" /> 
  <meta property="og:url"    content="http://letsgossip.it/" /> 
  <meta property="og:title"  content="The Gossip" /> 
  <meta property="og:image"  content="http://profile.ak.fbcdn.net/hprofile-ak-ash3/c10.9.110.110/s100x100/579557_333826166728575_1479745533_s.png" />   


  <!-- Google Fonts - pt meniu-->
  <link href='http://fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' urel='stylesheet' type='text/css'>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <script type="text/javascript">
    window.fbAsyncInit = function() {
      // init the FB JS SDK
      FB.init({
        appId      : <%= FB_APP_ID %>, // App ID from the App Dashboard
        // channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File for x-domain communication
        status     : true, // check the login status upon init?
        cookie     : true, // set sessions cookies to allow your server to access the session?
        xfbml      : true  // parse XFBML tags on this page?
      });

      // Additional initialization code such as adding Event Listeners goes here
    };
    
    // Load the SDK's source Asynchronously
    // Note that the debug version is being actively developed and might 
    // contain some type checks that are overly strict. 
    // Please report such bugs using the bugs tool.
    (function(d, debug){
       var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
       ref.parentNode.insertBefore(js, ref);
     }(document, /*debug*/ false));    

  </script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38173732-1']);
  _gaq.push(['_setDomainName', 'letsgossip.it']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<% if @current_controller=='home' && @current_action=="welcome"%> 

  <%= yield %>

<% else %>

<body>
    <%= render "menu_bar" %>
    


  <!-- div to animate down for wrighting posts -->
  <form id="post_gossip_form" style="display:none;margin-bottom:0;z-index:1000;position:relative">
    <div class="post-gossip clearfix">
      <div class="post-wrapper">
         <p id="gossip_content_counter" style="color:#999;float:right;margin-bottom:5px;margin-top:10px;"></p>
        <h3 style="margin-bottom:0;color:white;font-size:19px"> What's the word? </h3>

          <div class="post-well clearfix">
              <textarea id="gossip_content" name="gossip[content]" class="input-block-level" rows="3" style="max-height:70px;max-width:553px;"></textarea>
               <button type="button" class="btn btn-primary pull-right disabled" id="button_post_gossip" >OK </button>

                <a class="public toggle-privacy"> </a>
                <input id="gossip_private" name="gossip[private]" type="hidden" value="0" />
                <p  data-public="Post as: you" data-private="Post as: anonymous" id="gossip_private_info" style="float:right;margin-top:5px;margin-bottom:0px;margin-right:15px;color:white;font-size:12px;">Post as: you</p>

                <div class="btn-group" id="dropdwn_gossip_circle">
                  <button class="btn dropdown-toggle" data-toggle="dropdown">Change Circle <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <%= circle_list %>
                    <li class="divider"></li>
                    <li><a  href="/circles/new"><img style="margin-top:-3px;" src="/assets/menu/add.png"> New Circle</a></li>
                  </ul>
                  <input id="gossip_circle_id" name="gossip[circle_id]" type="hidden">
                </div>
          </div>
          <p id="gossip_circle_info" style="margin-top:5px;margin-bottom:0px;color:#bbb;">Select a circle from above</p>
         <p style="text-align:center; cursor:pointer; cursor:hand; " class="toggle-slide" data-toggleid="post_gossip_form"><i style="font-size:18px;color:white;" class="icon-chevron-up"></i></p>
      </div>

    </div>
  </form>

  <div class="container">
    

    <% if (@current_controller=="gossips" && @current_action=="show") || (@current_controller=="gossips" && @current_action=="new") || (@current_controller=="circles" && @current_action == "new" ) || @current_controller=="sessions" || @current_controller=="registrations" || @current_controller=="passwords" || @current_controller=="users" || (@current_controller=="home" && @current_action=="terms") || (@current_controller=="home" && @current_action=="contact") %>

      <div class="row">
          <div class="span8 offset2">
          <%= render "flash_messeges" %>
          <%= yield %>
        </div>
      </div>

    <% else %>

      <%if @current_controller=="invites"%>
            <div class="row">
                  <div class="span10 offset1">
                  <%= render "flash_messeges" %>
                  <%= yield %>
                </div>
              </div>
      <% else %>

    <div class="row">
        <div class="hidden-phone span3 offset1 dashboard">

            <div class="menux-container" style="margin-bottom:20px">      
              <div class="navx">
               <h5 style="font-weight:300;font-size:17px;margin-left:15px;color:white;float:left"> Menu</h5>
              </div>
              <div class="menux">
                  <ul>
                    <li><a href="<%= gossips_path %>" ><img src="/assets/img_trans.gif" class="sprite sprite-feed"> Feed</a></li>
                    <li><a href="<%= circles_path %>" ><img src="/assets/img_trans.gif" class="sprite sprite-circles"> Circles</a></li>
                    <li><a href="#"><img src="/assets/img_trans.gif" class="sprite sprite-pin"> Cities</a></li>
                    <li><a href="#"><img src="/assets/img_trans.gif" class="sprite sprite-people"> People</a></li>
                    <li><a href="/circles/new" ><img src="/assets/img_trans.gif" class="sprite sprite-add"> New Circle</a></li>
                  </ul>
              </div>         
            </div>

            <div class="clearfix people">
              <a href="" style="font-size:12px;float:right">View all</a>
              <a href="#" onclick="sendRequestViaMultiFriendSelector(); return false;" style="font-size:12px;float:right">Invite</a>
              <p> People in this Circle </p>
              
              <img style="float:left;width:33px;height:33px;background:#ddd;margin:0 3px 3px 0"/>
              <img style="float:left;width:33px;height:33px;background:#ddd;margin:0 3px 3px 0"/>
              <img style="float:left;width:33px;height:33px;background:#ddd;margin:0 3px 3px 0"/>
              <img style="float:left;width:33px;height:33px;background:#ddd;margin:0 3px 3px 0"/>
              <img style="float:left;width:33px;height:33px;background:#ddd;margin:0 3px 3px 0"/>
              <img style="float:left;width:33px;height:33px;background:#ddd;margin:0 3px 3px 0"/>
              <img style="float:left;width:33px;height:33px;background:#ddd;margin:0 3px 3px 0"/>
              <img style="float:left;width:33px;height:33px;background:#ddd;margin:0 3px 3px 0"/>
              <img style="float:left;width:33px;height:33px;background:#ddd;margin:0 3px 3px 0"/>
              <img style="float:left;width:33px;height:33px;background:#ddd;margin:0 3px 3px 0"/>
              <img style="float:left;width:33px;height:33px;background:#ddd;margin:0 3px 3px 0"/>          
            </div>

            <!--  <a href="#" class="btnx btnx-blue-x btnx-large" >Gossip in this Circle</a>  -->

             
              <!-- Tags -->
            <div class="clearfix tags">
              <h6> TRENDING </h6>
              <% tag_cloud Circle.tag_counts, %w[tag] do |tag_itself, tag| %>
                <%= link_to tag_itself.name, tag_path(tag_itself.name), class: tag %>
              <% end %>
            </div>

              <div class="clearfix top-bar" style="padding:7px;max-width:230px">
              <ul class="footer-nav clearfix" >
                <li><a href="/">© The Gossip</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/terms">Terms</a></li>
              </ul>
            </div>
              
        </div>

        <div class="span7 mainx-content" >
            <%= render "flash_messeges" %>
            <%= yield %>
        </div>

      </div> <!-- row -->
    <% end %>
    <%end%>
           <div class="back-to-top hidden-phone"></div>

  </div> 
</body>
<% end %> <!-- if ul daca e landing page --> 
<!-- <div id="fb-root"></div> -->

</html>